
<div class="col-md-6 col-md-offset-3">	
<%= simple_form_for @refugee, :html => { :multipart => true } do |f| %>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		        Name: 
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		     	<%= f.input :name, label: "Name" , required: true, label: false, placeholder: "Enter your name here" %>
		      </div>
		    </div>
		  </div>


			<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
		      	  Age: 
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		     	 <%= f.input :age, labe: "Age" , label: false, placeholder:"Enter you Age here.."%>
		      </div>
		    </div>
		  </div>

			<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
		      	  Last Living Location :
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		     	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5171648.095877802!2d0.2325748675146959!3d50.73443067692863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c17d64edf39797%3A0x47ebf2b439e60ff2!2zQsOpbGdpY2E!5e0!3m2!1ses-419!2sve!4v1448584963404" width="525" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
		      </div>
		    </div>
		  </div>

			
			<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFour">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
		      	  Location of Separation :
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingFour">
		      <div class="panel-body">
		     	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5171648.095877802!2d0.2325748675146959!3d50.73443067692863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c17d64edf39797%3A0x47ebf2b439e60ff2!2zQsOpbGdpY2E!5e0!3m2!1ses-419!2sve!4v1448584963404" width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen style="width:100%;  "></iframe>
				
		      </div>
		    </div>
		  </div>

			
			<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFive">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
		      	  Eye Color: 
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingFive">
		      <div class="panel-body">
		     	<%= f.input :eye_color, label: false, placeholder: "Enter the Color of your eyes "%>
				
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingSix">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
		      		Name of Mother:  
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingSix">
		      <div class="panel-body">
		     	<%= f.input :eye_color, label: false, placeholder: "Enter the Color of your eyes "%>
				
		      </div>
		    </div>
		  </div>

			<%= f.input :submit %>
	   </div>



<% end %>

</div>